<header id="hf" class="hf">
  <div class="container unsel">
    <a routerLink="/" class="logo"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
    <nav>
      <ul>
        <li><a routerLink="/">Portfolio</a></li>
        <li><a routerLink="/exchange">Exchange</a></li>
        <li><a routerLink="/lobby">Lobby</a></li>
        <li><a routerLink="/account">Account</a></li>
      </ul>
    </nav>
  </div>
</header>

<header id="hl" class="hl" hidden>
  <div class="container unsel">
    <a routerLink="/" class="logo"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
    <button (click)="nav()"><img src="https://content.kpnc.io/img/aprox4/assets/web/menu.webp" alt="=">&shy;</button>
    <nav id="nav">
      <ul>
        <li id="lih"><a routerLink="/">Portfolio</a></li>
        <li><a routerLink="/exchange">Exchange</a></li>
        <li><a routerLink="/lobby">Lobby</a></li>
        <li><a routerLink="/account">Account</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="unsel">
  <div class="container">
    <div id="ff" class="ff">
      <a href="https://www.kpnc.io/"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
      <p><small>Copyright 2022 &copy; KPNC Technology<br><a routerLink="/policies">Policies</a> / <a routerLink="/sitemap">Sitemap</a> / <a routerLink="/logout">Logout</a></small></p>
      <div class="fs">
        <ul>
          <li><a href="https://iex.io/news/"><img src="https://content.kpnc.io/img/kpnc/news.webp" alt="N">&shy;</a></li>
          <li><a href="https://github.com/kpncio/trader/" target="_blank" rel="noopener"><img src="https://content.kpnc.io/img/kpnc/github.webp" alt="G">&shy;</a></li>
          <li><a href="https://youtube.com/" target="_blank" rel="noopener"><img src="https://content.kpnc.io/img/kpnc/youtube.webp" alt="Y">&shy;</a></li>
        </ul>
      </div>
    </div>

    <div id="fl" class="fl" hidden>
      <a href="https://www.kpnc.io/"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
      <p><small>Copyright 2022 &copy; KPNC Technology<br><a routerLink="/policies">Policies</a> / <a routerLink="/sitemap">Sitemap</a> / <a routerLink="/logout">Logout</a></small></p>
      <div class="fs">
        <ul>
          <li><a href="https://iex.io/news/"><img src="https://content.kpnc.io/img/kpnc/news.webp" alt="N">&shy;</a></li>
          <li><a href="https://github.com/kpncio/trader/" target="_blank" rel="noopener"><img src="https://content.kpnc.io/img/kpnc/github.webp" alt="G">&shy;</a></li>
          <li><a href="https://youtube.com/" target="_blank" rel="noopener"><img src="https://content.kpnc.io/img/kpnc/youtube.webp" alt="Y">&shy;</a></li>
        </ul>
      </div>
    </div>
  </div>  
</footer>