/*Colors*/
$darkener:  rgba(0,0,0,0.5);
$black:     rgb(0,0,0);
$dark:      rgb(30,30,30);
$mid:       rgb(107,107,107);
$light:     rgb(225,225,225);
$white:     rgb(255,255,255);
$blue:      rgb(20,115,252);

/*Header*/
.hf {
    height: 50px;
    letter-spacing: 1px;
    background-color: $dark;

    a {
        color: $white;
        text-decoration: none;
        transform: translateY(13px);
    }

    a.logo {
        font-size: 20px;
        font-weight: bold;

        img {
            height: 33px;
            transition: 200ms;
            transform: translateY(9px);
            border-bottom: 0px solid rgba(0,0,0,0);

            &:hover {
                transition: 200ms;
                border-bottom: 5px solid $blue;
            }
        }
    }

    nav {
        float: right;
        display: block;

        ul {
            margin: 0;
            display: flex;
            list-style-type: none;

            li a {
                display: flex;
                margin: 0 0.8em;
                transition: 200ms;
                border-bottom: 0px solid rgba(0,0,0,0);

                &:hover {
                    transition: 200ms;
                    border-bottom: 5px solid $blue;
                }
            }
        }
    }
}

.hl {
    letter-spacing: 2px;
    padding-bottom: 15px;
    background-color: $dark;

    a {
        color: $white;
        text-decoration: none;
    }

    a.logo {
        font-size: 20px;
        font-weight: bold;

        img {
            height: 33px;
            transition: 200ms;
            transform: translateY(9px);
            border-bottom: 0px solid rgba(0,0,0,0);

            &:hover {
                transition: 200ms;
                border-bottom: 5px solid $blue;
            }
        }
    }

    button {
        margin: 0;
        padding: 0;
        outline: 0;
        float: right;
        border: none;
        color: rgba(0,0,0,0);
        transform: translateY(12px);
        background-color: rgba(0,0,0,0);

        img {
            height: 24px;
            color: $white;
            font-size: 24px;
            padding: 0.2em;
            margin: -0.2em;
            transition: 200ms;
            border-radius: 5px;
            border: 2px solid $white;

            &:hover {
                transition: 200ms;
                border: 2px solid $blue;
            }
        }
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;
            list-style-type: none;

            li {
                margin: 1em;

                a {
                    transition: 200ms;
                    border-bottom: 0px solid $dark;

                    &:hover {
                        transition: 200ms;
                        border-bottom: 5px solid $blue;
                    }
                }
            }

            #lih {
                margin-top: 1em;
                padding-top: 1em;
                border-top: 1px solid $white;
            }
        }
    }

    .joiner {
        transition: 200ms;
        border-radius: 5px;
        padding: 0.25em 1em;
        margin: -0.25em 1em;
        border: 2px solid $blue;

        &:hover {
            transition: 200ms;
            padding: 0.5em 1.5em;
            margin: -0.5em 0.5em;
            border-bottom: 2px solid $blue;
        }
    }
}

/*Footer*/
footer {
    width: 100%;
    color: $mid;
    padding: 1em 0 2.2em 0;
    font-size: 18px;
    font-weight: 500;
    background-color: $dark;

    h2 {
        color: $mid;
        margin: 10px 0;
        font-size: 24px;
        font-weight: 700;
    }

    a {
        color: $mid;
        transition: 200ms;
        text-decoration: none;

        &:hover {
            color: $blue;
            transition: 200ms;
        }
    }

    .ff {
        width: 100%;
        color: $mid;
        margin-top: 1em;
        text-align: left;
        padding-top: 1em;
        border-top: 1px solid $mid;

        p {
            margin: 0;
            display: inline-block;
        }

        img {
            float: left;
            height: 36px;
            margin: 5px 10px;
            transition: 200ms;
            filter: grayscale(1);

            &:hover {
                transition: 200ms;
                filter: grayscale(0);
            }
        }

        .fs {
            float: right;
            font-size: 30px;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                text-align: center;
                list-style-type: none;
            }
        }
    }

    .fl {
        width: 100%;
        color: $mid;
        margin-top: 1em;
        padding-top: 1em;
        text-align: center;
        border-top: 1px solid $mid;

        img {
            height: 36px;
            margin: 5px 10px;
            transition: 200ms;
            filter: grayscale(1);

            &:hover {
                transition: 200ms;
                filter: grayscale(0);
            }
        }

        .fs {
            width: 50%;
            padding: 0;
            margin: 0 auto;
            display: block;
            font-size: 30px;
            min-width: 224px;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;
                display: inline-flex;
                list-style-type: none;
            }
        }

        .container {
            margin: 1em auto;
        }
    }
}