<main class="nosel">
  <div class="container">
    <h2>&mdash;&emsp;Login&emsp;&mdash;</h2>
    <p>
      Copyright 2022 &copy; KPNC Technology /
      <a routerLink="/policies">Policies</a> /
      <a routerLink="/landing">Landing</a> /
      <a href="https://github.com/kpncio/trader/">GitHub</a>
    </p>
    <form #form="ngForm" (submit)="submit(username.viewModel, password.viewModel)" *ngIf="!submitting">
      <a *ngIf="failed" style="cursor: pointer; text-decoration: none;" (click)="dismiss()"><h3>{{message}}</h3></a>
      <small *ngIf="!valid(0, username.viewModel) && (username.touched || attempted)">
        *Please enter a valid username...
      </small>
      <input required ngModel #username="ngModel" name="username" type="text" placeholder="Username">
      <small *ngIf="!valid(1, password.viewModel) && (password.touched || attempted)">
        *Please enter a valid password...
      </small>
      <input required ngModel #password="ngModel" name="password" type="password" placeholder="Password">
      <a routerLink="/account/signup">Need an account? Signup here...</a>
      <button type="submit">Login</button>
    </form>
    <app-loader *ngIf="submitting"></app-loader>
  </div>
</main>
