<h1>Account</h1>

<main class="nosel">
  <div class="container">
    <h2>Account settings:</h2>
    <div class="circle">
      <img src="https://avatars.dicebear.com/api/croodles-neutral/{{user}}.svg" alt="">
    </div>
    <h2 style="text-align: center;">{{real}}</h2>
    <table>
      <tr class="error">
        <td>Errrrrrrror:</td>
        <td>
          <form>
            <input readonly value="Error!">
          </form>
        </td>
      </tr>
      <tr>
        <td>Username<div class="info"><p>This is the alias used for authenitcation.
          <br><br>
          You cannot change your username.
        </p></div>:</td>
        <td>
          <form>
            <input readonly value="{{user}}">
          </form>
        </td>
      </tr>
      <tr>
        <td>Display Name<div class="info"><p>This is the alias others see online.
          <br><br>
          You may change your display name at anytime.
          <br><br>
          [Type a <i>*new display name*</i> and ENTER to change your display name]
        </p></div>:</td>
        <td>
          <form>
            <input placeholder="New Display Name" value="{{real}}">
          </form>
        </td>
      </tr>
      <tr>
        <td>Change Password<div class="info"><p>This is your account password.
          <br><br>
          You may change your password at anytime.
          <br><br>
          [Type a <i>*new password*</i> and ENTER to change your password]
        </p></div>:</td>
        <td>
          <form>
            <input placeholder="New Password">
          </form>
        </td>
      </tr>
      <tr>
        <td>Lobby Code<div class="info"><p>This is your current lobby code.
          <br><br>
          You may change your lobby at anytime.
          <br><br>
          [Type a <i>*lobby code*</i> and ENTER to change your lobby]
        </p></div>:</td>
        <td>
          <form>
            <input placeholder="Lobby Code">
          </form>
        </td>
      </tr>
      <tr>
        <td>Delete Account<div class="info">
          <p>
            This is to PERMANENTLY delete your account. See more information in <a routerLink="/policies">policies</a>.
            <br><br>
            You may delete your account at anytime.
            <br><br>
            [Type "<i>DELETE</i>" and ENTER to delete your account]
          </p>
        </div>:</td>
        <td>
          <form>
            <input placeholder="DELETE">
          </form>
        </td>
      </tr>
    </table>
  </div>
</main>
