<h1 class="nosel">
  <img
    src="https://content.kpnc.io/img/kpnc/symbol/KPNC.webp"
    alt="KPNC"
  />
</h1>

<main class="nosel">
  <div class="container">
    <h2>Browse indexes:</h2>
    <h3>⤷ 6 markets loaded...</h3>
    <table>
      <tr>
        <h2 (click)="routerLink(['/index/spx'])">S&P 500: <span class="down">3,958.79</span></h2>
      </tr>
      <tr>
        <h2 (click)="routerLink(['/index/ndx'])">Nasdaq 100: <span class="down">11,699.09</span></h2>
      </tr>
      <tr>
        <h2 (click)="routerLink(['/index/djia'])">Dow Jones: <span class="down">33,553.83</span></h2>
      </tr>
      <tr>
        <h2 (click)="routerLink(['/index/forex'])">Forex: <span class="down">106.35</span></h2>
      </tr>
      <tr>
        <h2 (click)="routerLink(['/index/crypto'])">Crypto: <span class="up">16,579.20</span></h2>
      </tr>
      <tr>
        <h2 (click)="routerLink(['/index/metals'])">Metals: <span class="down">1,770.55</span></h2>
      </tr>
    </table>
  </div>
</main>
