<main (click)="getQuote()">
  <div *ngIf="quotes != null">
    <div class="full" *ngIf="width! >= 1100">
      <div class="logo" style="background: url('https://content.kpnc.io/img/kpnc/symbol/{{symbol}}.webp') center center / contain no-repeat;"></div>
      <table>
        <tr>
          <td style="width: 20%;">
            <p><b>{{symbol}}</b>:<br><i [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{this.quotes.data[0].name}}</i></p>
          </td>
          <td style="width: 40%;">
            <div class="chart">
              <canvas #chartlite baseChart
                [data]="chartdata"
                [options]="chartoptions"
                [type]="charttype">
              </canvas>
            </div>
          </td>
          <td style="width: 40%;">
            <table>
              <tr>
                <td>
                  Market Cap:
                </td>
                <td>
                  Change:
                </td>
                <td>
                  Change (%):
                </td>
              </tr>
              <tr>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{quotes.data[0].cap.toLocaleString("en-US")}}
                </td>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].change, 3)}}
                </td>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].percent, 5)}}
                </td>
              </tr>
              <tr><br></tr>
              <tr>
                <td>
                  Price:
                </td>
                <td>
                  Year High:
                </td>
                <td>
                  Year Low:
                </td>
              </tr>
              <tr>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].price, 3)}}
                </td>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].high52, 2)}}
                </td>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].low52, 2)}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="half" *ngIf="width! < 1100 && width! >= 860">
      <div class="logo" style="background: url('https://content.kpnc.io/img/kpnc/symbol/{{symbol}}.webp') center center / contain no-repeat;"></div>
      <table>
        <tr>
          <td style="width: 20%;">
            <p><b>{{symbol}}</b>:<br><i [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{this.quotes.data[0].name}}</i></p>
          </td>
          <td style="width: 40%;">
            <div class="chart">
              <canvas #chartlite baseChart
                [data]="chartdata"
                [options]="chartoptions"
                [type]="charttype">
              </canvas>
            </div>
          </td>
          <td style="width: 40%;">
            <table>
              <tr>
                <td>
                  Market Cap:
                </td>
                <td>
                  Change (%):
                </td>
              </tr>
              <tr>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{quotes.data[0].cap.toLocaleString("en-US")}}
                </td>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].percent, 5)}}
                </td>
              </tr>
              <tr><br></tr>
              <tr>
                <td>
                  Price:
                </td>
                <td>
                  P/E Ratio:
                </td>
              </tr>
              <tr>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].price, 3)}}
                </td>
                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
                  {{zero(quotes.data[0].pe, 2)}}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="lite" *ngIf="width! < 860">
      <div class="logo" style="background: url('https://content.kpnc.io/img/kpnc/symbol/{{symbol}}.webp') center center / contain no-repeat;"></div>
      <table>
        <tr style="height: 20px;">
          <table>
            <td><b>{{symbol}}</b>:</td>
            <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
              $ {{quotes.data[0].cap.toLocaleString("en-US")}}
            </td>
            <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
              $ {{zero(quotes.data[0].price, 3)}}
            </td>
            <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">
              {{zero(quotes.data[0].percent, 5)}} %
            </td>
          </table>
        </tr>
        <tr style="height: 80px;">
          <div class="chart">
            <canvas #chartlite baseChart
              [data]="chartdata"
              [options]="chartoptions"
              [type]="charttype">
            </canvas>
          </div>
        </tr>
      </table>
    </div>
    <div *ngIf="onRetrieve()"></div>
  </div>
</main>
