/*Colors*/
$darkener:  rgba(0, 0, 0, 0.5);
$black:     rgb(0, 0, 0);
$dark:      rgb(30, 30, 30);
$mid:       rgb(50, 50, 50);
$light:     rgb(225, 225, 225);
$white:     rgb(255, 255, 255);
$blue:      rgb(20, 115, 252);
