<main (click)="routerLink(['/quote/' + symbol])" *ngIf="done == 2" #width>
  <table *ngIf="width.offsetWidth > 550">
    <td style="width: 35%;">
      <table>
        <tr>
          <span style="font-size: 1.5rem; font-weight: bold;">{{symbol}}</span>
        </tr>
        <tr>
          <span>{{name}}</span>
        </tr>
      </table>
    </td>

    <td style="width: 40%;">
      <div class="image" style="background: url('https://content.kpnc.io/img/kpnc/symbol/{{symbol}}.webp') center center / contain no-repeat;"></div>
      <div echarts [options]="options" class="chart"></div>
    </td>

    <td style="width: calc(25% - 25px);">
      <table>
        <tr>
          <span [ngClass]="{'up': percent > 0, 'down': percent < 0, 'same': percent == 0}">{{price}}</span>
        </tr>
        <tr>
          <span [ngClass]="{'up': percent > 0, 'down': percent < 0, 'same': percent == 0}">{{percent == 0 ? '◆' : percent > 0 ? '▲' : '▼'}} {{percent}}%</span>
        </tr>
      </table>
    </td>

    <td style="width: 25px;">
      <span>▶</span>
    </td>
  </table>

  <div id="image" *ngIf="width.offsetWidth <= 550" style="background: url('https://content.kpnc.io/img/kpnc/symbol/{{symbol}}.webp') center center / contain no-repeat;"></div>

  <table *ngIf="width.offsetWidth <= 550">
    <span style="font-size: 1.5rem; font-weight: bold; line-height: 125px; width: 100px; text-align: center; float: left;">{{symbol}}</span>

    <td style="width: calc(100% - 200px);">
      <div echarts [options]="options" class="chart"></div>
    </td>

    <td style="width: 100px;">
      <table>
        <tr>
          <span [ngClass]="{'up': percent > 0, 'down': percent < 0, 'same': percent == 0}">{{price}}</span>
        </tr>
        <tr>
          <span [ngClass]="{'up': percent > 0, 'down': percent < 0, 'same': percent == 0}">{{percent}}%</span>
        </tr>
      </table>
    </td>
  </table>
</main>
