<h1 class="nosel"><img src="https://content.kpnc.io/img/kpnc/symbol/{{symbol}}.webp" alt="Quotes: {{symbol}}"></h1>

<main class="nosel">
    <div class="container">
        <app-loader *ngIf="!quotes"></app-loader>
        <div *ngIf="quotes">
            <h2>Latest quote for {{quotes.data[0].symbol}} ({{quotes.data[0].name}}):</h2>
            <div id="cf" style="display: inline-block; width: 100%;" *ngIf="(width$ | async)! >= 1060">
                <div class="left">
                    <table>
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Symbol:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{quotes.data[0].symbol}}</td>
                            </tr>
                            <tr>
                                <td>Company:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{quotes.data[0].name}}</td>
                            </tr>
                            <tr>
                                <td>Market Cap:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{quotes.data[0].cap.toLocaleString("en-US")}}</td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].price, 3)}}</td>
                            </tr>
                            <tr>
                                <td>Change:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].change, 3)}}</td>
                            </tr>
                            <tr>
                                <td>Change Percent:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].percent, 5)}}</td>
                            </tr>
                            <tr>
                                <td>Year High:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].high52, 2)}}</td>
                            </tr>
                            <tr>
                                <td>Year Low:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].low52, 2)}}</td>
                            </tr>
                            <tr>
                                <td>P/E Ratio:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].pe, 2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="right">
                    <small>*Business units (no weekends)...</small>
                    <div style="margin: 10px 0;">
                        <a (click)="timeFrame('day')" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">Day</a>
                        <a (click)="timeFrame('week')">Week</a>
                        <a (click)="timeFrame('month')">Month</a>
                        <a (click)="timeFrame('semester')" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Semester</a>
                    </div>
                    <canvas #chartfull baseChart
                        [data]="chartdata"
                        [options]="chartoptions"
                        [type]="charttype">
                    </canvas>
                </div>
            </div>
            <div id="cl" *ngIf="(width$ | async)! < 1060">
                <div class="top">
                    <canvas #chartlite baseChart
                        [data]="chartdata"
                        [options]="chartoptions"
                        [type]="charttype">
                    </canvas>
                </div>
                <div class="bottom">
                    <table>
                        <tbody>
                            <tr>
                                <td>Symbol:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{quotes.data[0].symbol}}</td>
                                <td>Company:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{quotes.data[0].name}}</td>
                            </tr>
                            <tr>
                                <td>Market Cap:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{quotes.data[0].cap.toLocaleString("en-US")}}</td>
                                <td>Price:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].price, 3)}}</td>
                            </tr>
                            <tr>
                                <td>Change:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].change, 3)}}</td>
                                <td>Change Percent:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].percent, 5)}}</td>
                            </tr>
                            <tr>
                                <td>Year High:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].high52, 2)}}</td>
                                <td>Year Low:</td>
                                <td [style.color]="quotes.data[0].change < 0 ? '#c2261b' : '#1bc237'">{{zero(quotes.data[0].low52, 2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>History of {{quotes.data[0].symbol}} ({{quotes.data[0].name}}):</h2>
            <table id="tf" *ngIf="(width$ | async)! >= 870">
                <thead>
                    <tr>
                        <th>Bell</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Price</th>
                        <th>Change</th>
                        <th>Change (%)</th>
                        <th>Market Cap</th>
                        <th>P/E Ratio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let quote of quotes.data">
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'" class="closed">{{quote.open == false ? '&#8998;' : ''}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{date(quote.time)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{time(quote.time)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{zero(quote.price, 3)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{zero(quote.change, 3)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{zero(quote.percent, 5)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{quote.cap.toLocaleString("en-US")}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{zero(quote.pe, 2)}}</td>
                    </tr>
                </tbody>
            </table>
            <table id="tl" *ngIf="(width$ | async)! < 870">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Change</th>
                        <th>Market Cap</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let quote of quotes.data">
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{date(quote.time)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{zero(quote.price, 3)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{zero(quote.change, 3)}}</td>
                        <td [style.color]="quote.change < 0 ? '#c2261b' : '#1bc237'">{{quote.cap.toLocaleString("en-US")}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="onRetrieve()"></div>
        </div>
    </div>
</main>
