<main class="nosel">
  <div class="container">
    <h2>&mdash;&emsp;Signup&emsp;&mdash;</h2>
    <p>
      Copyright 2022 &copy; KPNC Technology /
      <a routerLink="/policies">Policies</a> /
      <a routerLink="/landing">Landing</a> /
      <a href="https://github.com/kpncio/trader/">GitHub</a>
    </p>
    <form #form="ngForm" (submit)="submit(username.viewModel, password.viewModel, passconf.viewModel)" *ngIf="!submitting">
      <a *ngIf="failed" style="cursor: pointer; text-decoration: none;" (click)="dismiss()"><h3>{{message}}</h3></a>
      <small *ngIf="!valid(0, username.viewModel) && (username.touched || attempted)">
        *Usernames have to be 3-25 characters long and can include latin letters, numerical digits, and underscores...
      </small>
      <input required ngModel #username="ngModel" name="username" type="text" placeholder="Enter a username...">
      <small *ngIf="!valid(1, password.viewModel) && (password.touched || attempted)">
        *Passwords have to be 8-100 characters long and can include latin letters, numerical digits, and special characters...
      </small>
      <input required ngModel #password="ngModel" name="password" type="password" placeholder="Enter a password...">
      <small *ngIf="!valid(2, password.viewModel, passconf.viewModel) && (passconf.touched || attempted)">
        *Confirmation should match a valid password above...
      </small>
      <input required ngModel #passconf="ngModel" name="passconf" type="password" placeholder="Confirm the password...">
      <a routerLink="/account/login">Already have an account? Login.</a>
      <button type="submit">Signup</button>
    </form>
    <app-loader *ngIf="submitting"></app-loader>
  </div>
</main>
