<main class="nosel">
  <div class="container">
    <h2>&mdash;&emsp;Signup&emsp;&mdash;</h2>
    <p>
      Copyright 2022 &copy; KPNC Technology /
      <a routerLink="/policies">Policies</a> /
      <a routerLink="/sitemap">Sitemap</a> /
      <a href="https://github.com/kpncio/trader/">GitHub</a>
    </p>
    <form #form="ngForm" (submit)="submit(form, [username.viewModel, password.viewModel, passconf.viewModel])" *ngIf="!submitting">
      <a *ngIf="failed" style="cursor: pointer; text-decoration: none;" (click)="dismiss()"><h3>{{message}}</h3></a>
      <small *ngIf="valid(username)">*Usernames are required...</small>
      <input required ngModel #username="ngModel" name="username" type="text" placeholder="Enter a username...">
      <small *ngIf="valid(password)">*Passwords are required...</small>
      <input required ngModel #password="ngModel" name="password" type="password" placeholder="Enter a password...">
      <small *ngIf="valid(passconf)">*Please confirm your password...</small>
      <input required ngModel #passconf="ngModel" name="passconf" type="password" placeholder="Confirm the password...">
      <a routerLink="/account/login">Already have an account? Login.</a>
      <button type="submit">Singup</button>
    </form>
    <app-loader *ngIf="submitting"></app-loader>
  </div>
</main>
