<footer class="container nosel">
  <div class="lite">
    <table>
      <tr>
        <small>Copyright 2022 &copy; KPNC Technology<br>
          <a href="https://www.kpnc.io/">KPNC</a> /
          <a (click)="routerLink(['/information'])">Information</a> /
          <a href="https://github.com/kpncio">GitHub</a>
        </small>
      </tr>
      <tr>
        <a href="https://www.kpnc.io/"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
      </tr>
    </table>
  </div>
</footer>
