<footer class="container nosel">
    <div class="full" *ngIf="width! >= 750">
      <table>
        <tr>
          <td>
            <a href="https://www.kpnc.io/"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
            <small>Copyright 2022 &copy; KPNC Technology<br>
              <a (click)="routerLink(['/policies'])">Policies</a> /
              <a (click)="routerLink(['/sitemap'])">Sitemap</a> /
              <a (click)="routerLink(['/account/logout'])">Logout</a>
            </small>
          </td>
          <td>
            <div class="social">
              <ul>
                <li><a target="_blank" rel="noopener" href="https://github.com/kpncio/trader/"><img src="https://content.kpnc.io/img/kpnc/github.webp" alt="G">&shy;</a></li>
                <li><a target="_blank" rel="noopener" href="https://youtube.com/" ><img src="https://content.kpnc.io/img/kpnc/youtube.webp" alt="Y">&shy;</a></li>
                <li><a target="_blank" rel="noopener" href="https://iex.io/news/"><img src="https://content.kpnc.io/img/kpnc/news.webp" alt="N">&shy;</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="lite" *ngIf="width! < 750">
      <table>
        <tr>
          <a href="https://www.kpnc.io/"><img src="https://content.kpnc.io/img/kpnc/logodark.webp" alt="~KPNC~">&shy;</a>
        </tr>
        <tr>
          <small>Copyright 2022 &copy; KPNC Technology<br>
            <a (click)="routerLink(['/policies'])">Policies</a> /
            <a (click)="routerLink(['/sitemap'])">Sitemap</a> /
            <a (click)="routerLink(['/account/logout'])">Logout</a>
          </small>
        </tr>
        <tr>
          <div class="social">
            <ul>
              <li><a target="_blank" rel="noopener" href="https://github.com/kpncio/trader/"><img src="https://content.kpnc.io/img/kpnc/github.webp" alt="G">&shy;</a></li>
              <li><a target="_blank" rel="noopener" href="https://youtube.com/"><img src="https://content.kpnc.io/img/kpnc/youtube.webp" alt="Y">&shy;</a></li>
              <li><a target="_blank" rel="noopener" href="https://iex.io/news/"><img src="https://content.kpnc.io/img/kpnc/news.webp" alt="N">&shy;</a></li>
            </ul>
          </div>
        </tr>
      </table>
    </div>
</footer>
